<div class="content-tabs">
  {{#each tabs}}
  <div class="tab {{#if active}}active{{/if}}" data-tab="{{id}}" data-group="primary">
    <fieldset data-type="{{id}}">
      {{formGroup asGMField value=asGM localize=true name=asGMName}}
      {{formGroup commandField value=command name=commandName}}
    </fieldset>
  </div>
  {{/each}}
</div>
