.doormacro.standard-form {
  & textarea {
    resize: none;
    height: 300px;
  }

  .window-content {
    padding-top: 0;
  }

  .sheet-tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0;
    font-size: 12px;
    border: none;
    margin: 0;
    padding: 0;
    grid-template-rows: 1fr;

    [data-action=tab].active {
      filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.5));
      text-decoration: underline;
    }
  }
}
